:root {}

* {background-color: grey;}

.main-title{
    color:purple;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align:center
    }
.page-info{
    text-align:center;
    color:white
}

.allcards {
   margin-left: 10px;
   margin-right: 10px;
   
}


.card{
    color:white;
    width: 250px;
    height: 200px;
    background-color: purple;
    justify-content: center;
    border: dashed 4px #000;
    padding: 20px;
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
    flex-wrap: wrap;

 
}
.title {
   border: solid black 5px;
   position:relative;
   top:-55px

    
}
.description{}

footer {
    text-align:center;
    color:white;
    font-weight: 400;
    font-family:'Courier New', Courier, monospace
}
